# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# .NET / Backend
bin/
obj/
*.user
*.userosscache
*.sln.docstates
compras.db
compras.db-journal
compras.db-shm
compras.db-wal

# IDE / Editors
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.local

# OS files
Thumbs.db
EHthumbs.db
Desktop.ini
$RECYCLE.BIN/
